@inherits LayoutComponentBase
<section>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <NavMenu />
            <LoginDisplay />
        </div>
    </nav>
</section>
<main>
    <article class="content px-4">
        @Body
    </article>
</main>
