@using Timesheets.Models
<Day @bind-Item="Item.Monday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Tuesday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Wednesday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Thursday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Friday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Saturday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<Day @bind-Item="Item.Sunday" @bind-Item:after="() => ItemChanged.InvokeAsync(Item)"></Day>
<tr>
    <td colspan="17" class="text-end shaded heavy-left heavy-right p-2">@TotalLabel</td>
    <td class="heavy-bottom heavy-left heavy-right heavy-top text-center">@TimeHelper.FormatTime(Item.WeekTotal)</td>
    <td class="shaded heavy-left heavy-right">&nbsp;</td>
    <td class="bordered text-center heavy-bottom text-center">@TimeHelper.FormatTime(Item.WeekTotal)</td>
    <td class="shaded heavy-left heavy-top">&nbsp;</td>
    <td class="shaded">&nbsp;</td>
    <td class="heavy-top heavy-left heavy-right text-center heavy-bottom">@Item.WeekTotal.ToString("f2")</td>
    <td class="shaded heavy-right">&nbsp;</td>
</tr>

@code {
    [Parameter]
    public WeekRecord Item { get; set; } = default!;

    [Parameter]
    public decimal PreviousCreditDebit { get; set; }

    [Parameter]
    public EventCallback<WeekRecord> ItemChanged { get; set; }

    [Parameter]
    public int WeekNumber { get; set; }

    public string TotalLabel => WeekNumber switch
    {
        1 => "1st Week total",
        2 => "2nd Week total",
        3 => "3rd Week total",
        4 => "4th Week total",
        _ => "ERROR!"
    };
}
