@page "/"

<PageTitle>Home</PageTitle>

<h1>Timesheets</h1>

<table class="table">
    @foreach (var year in dates)
    {
        <tr>
            @foreach(var d in year)
            {
                <td class="@GetCssClass(d)"><a href="/timesheet/@d.ToString("yyyy-MM-dd")">@d.ToString("dd/MM/yyyy")</a></td>
            }
        </tr>
    }
</table>

@code {
    public string GetCssClass(DateOnly d)
    {
        var now = DateOnly.FromDateTime(DateTime.UtcNow);
        if (d <= now && d.AddDays(28) >= now) return "yellow";
        return string.Empty;
    }
}